extends layout

block content
  h1= title
  - let vehicle = results
  div(class="container-fluid")
    div(class="row m-1")
      each item in results
        - let destination1 = `dispatch("/vehicle/update?id=${item._id}")`
        - let destination2 = `dispatch("/vehicle/create")`
        - let destination3 = `dispatch("/vehicle/detail?id=${item._id}")`
        - let destination4 = `dispatch("/vehicle/delete?id=${item._id}")`
        div(class="row-sm-2 m-1") 
          | vehicle type : #{item.vehicle_type}, 
          | vehicle cost : #{item.cost}, 
          | vehicle company : #{item.company}
          //- button.btn(class="btn-primary ml-1", onclick= destination2) Create 
          button.btn(class="btn-primary ml-1", onclick= destination1) Update 
          //- button.btn(class="btn-primary ml-1", onclick= destination3) Detail
          //- button.btn(class="btn-primary ml-1", onclick= destination4) Delete

  script.
    function dispatch(path) {
      window.location.href = path;
    }