extends layout

block content
  h1= title
  - if (toShow)
    - let vehicleid = toShow._id
    - let vehicle_type = toShow.vehicle_type
    - let cost = toShow.cost
    - let company = toShow.size

    div.row(class='mb-2')
      div.mr-1 ID is
      div #{vehicleid}

    - let actionid = "/resource/vehicles/" + vehicleid
    form(id='vehicleForm', action=actionid, method="PUT")
      div.form-group
        label.vehicleAttr(for='vehicle_type') Vehicle type
        input#vehicle_type(type='text', name='vehicle_type', value=vehicle_type)
      div.form-group
        label.vehicleAttr(for='cost') Vehicle cost
        input#cost(type='number', name='cost', value=cost)
      div.form-group
        label.vehicleAttr(for='company') Vehicle company
        input#company(type='text', name='company', value=company)
      input(type="submit")

    script.
      document.forms['vehicleForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          if (resp.ok) {
            alert("Vehicle Updated Successfully");
            document.getElementById('vehicleForm').reset();
          } else {
            alert("Failed to Update  the Vehicle");
          }
        }).then((body) => {
          console.log(body);
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error);
        });
      });
  - else
    p ToShow is null or undefined. Handle this case appropriately.
